

    {{ form_start(menuSearchForm) }}
<button type="submit">
    search
</button>
{{ form_widget(menuSearchForm) }}
    {{ form_end(menuSearchForm) }}

    {% for m in menu %}
        <h1>Kebab {{ m.sauce }} avec {{m.drink }} </h1>
        {% for extra in m.extra %}
            <h2> supplement {{ extra }}</h2>
            {% endfor %}
        {% for base in m.base %}
            <h2>{{ base }}</h2>
        {% endfor %}
    {% endfor %}







