{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% if searchBorrowers is not defined %}
        {% set searchBorrowers = searchBorrowers.create %}
    {% endif %}

    {{ form_start(searchBorrowers) }}
    <button type="submit" class="btn btn-info">rechercher un emprunteur</button>
    {{ form_widget(searchBorrowers) }}
    {{ form_end(searchBorrowers) }}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Lastname</th>
                <th scope="col">Firstname</th>
                <th scope="col">Phone</th>
                <th scope="col">Active</th>
                <th scope="col">Creation_date</th>
                <th scope="col">Modification_date</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrower in borrowers %}
            <tr class="table-default">
                <td>{{ borrower.id }}</td>
                <td>{{ borrower.lastname }}</td>
                <td>{{ borrower.firstname }}</td>
                <td>{{ borrower.phone }}</td>
                <td>{{ borrower.active ? 'Yes' : 'No' }}</td>
                <td>{{ borrower.creationDate ? borrower.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrower.modificationDate ? borrower.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('borrower_show', {'id': borrower.id}) }}">détails</a>
                    <a class="btn btn-success btn-sm" href="{{ path('borrower_edit', {'id': borrower.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrower_new') }}">ajouter un emprunteur</a>
{% endblock %}
