{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">titres</th>
                <th scope='col'>disponibilités</th>
                <th scope="col">année de publication</th>
                <th scope="col">nombre de pages</th>
                <th scope="col">code isnb</th>
                <th scope="col">auteurs</th>


                {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">actions</th>
                {% endif %}
                 

            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr class="table-default">
                <td>{{book.id}}</td>
                <td class="deco"><a href="{{ path('book_show', {'id': book.id}) }}" class="text-info">{{ book.title }}<a/></td>
                {% if book.isAvailable %}
                <td class="text-success">disponible</td>
                {% else %}
                <td class="text-danger">non disponible</td>
                {% endif %}
                <td>{{ book.publishingYear }}</td>
                <td>{{ book.numberOfPages }}</td>
                <td>{{ book.isbnCode }}</td>
                
                <td>{{ book.author.lastname }} {{book.author.firstname}}</td>
                
                
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    {# <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-info btn-sm">détails</a> #}
                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-success btn-sm">éditer</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun resultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('book_new') }}">ajouter un livre</a>
    {% endif %}
{% endblock %}
