{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr> #}
            <tr>
                <th>titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>année de publication</th>
                <td>{{ book.publishingYear }}</td>
            </tr>
            <tr>
                <th>nombre de pages</th>
                <td>{{ book.numberOfPages }}</td>
            </tr>
            <tr>
                <th>code isbn</th>
                <td>{{ book.isbnCode }}</td>
            </tr>
            <tr>
                <th>genres</th>
                <td>
                    
                        {% for type in book.types %}
                            {{ type.name }}{% if not loop.last%},{% endif %}
                        {% endfor %}
                    
                    
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}" class="btn btn-secondary btn-sm">retour</a>
    {% if is_granted ('ROLE_ADMIN') %}
   <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-secondary btn-sm">éditer</a>
    {% endif %}
    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
